<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    {% include 'partials/_header.html' %}
    <div class="container mx-auto px-4 mt-8 min-h-screen">
        <input type="text" id="client-name" class="mb-4 bg-white border rounded px-4 py-2 w-full" placeholder="שם הלקוח">
       <button id="reset-btn" class="mb-4 bg-red-500 text-white px-4 py-2 rounded">איפוס</button>
       <button id="export-btn" class="mb-4 bg-green-500 text-white px-4 py-2 rounded">ייצוא לאקסל</button>
       <div id="stopwatch" class="text-center text-4xl font-bold mb-4">00:00:00</div>
       <button id="start-set-btn" class="mb-4 bg-blue-500 text-white px-4 py-2 rounded">התחלת סט</button>
       <table class="table-auto w-full bg-white shadow-md rounded-lg overflow-hidden">
           <thead>
               <tr class="bg-blue-500 text-white">
                   <th class="px-4 py-2">זמן התחלה</th>
                   <th class="px-4 py-2">זמן סיום</th>
                   <th class="px-4 py-2">מספר סרטון</th>
                   <th class="px-4 py-2">פעולה</th>
                   <th class="px-4 py-2">הערות</th>
               </tr>
           </thead>
           <tbody>
               {% for i in range(30) %}
               <tr class="bg-gray-100 border-b">
                   <td class="px-4 py-2"><button class="start-time-btn bg-blue-500 text-white px-2 py-1 rounded">הקפאה</button></td>
                   <td class="px-4 py-2"><button class="end-time-btn bg-blue-500 text-white px-2 py-1 rounded">הקפאה</button></td>
                   <td class="px-4 py-2">{{ i + 1 }}</td>
                   <td class="px-4 py-2">
                       <select class="action-select bg-white border rounded px-2 py-1">
                           <option value="" selected></option>
                           <option value="split">פיצול ל-2 סרטונים</option>
                           <option value="priority">סרטון בדחיפות</option>
                       </select>
                   </td>
                   <td class="px-4 py-2"><input type="text" class="notes-input bg-white border rounded px-2 py-1 w-full"></td>
               </tr>
               {% endfor %}
           </tbody>
       </table>
    {% include 'partials/_footer.html' %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/local_storage.js') }}"></script>
</body>
</html>